<form [formGroup]="signinForm" fxLayoutAlign="stretch" fxLayout="column" (ngSubmit)="signin(signinForm)" novalidate>
  <mat-form-field >
    <input
      matInput
      type="username"
      placeholder="Username"
      formControlName="username"
      required
    >
    <mat-error>Adja meg a regisztráció során használt E-mail címét!</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="password"
      placeholder="Jelszó"
      color="primary"
      formControlName="password"
      required
    >

    <mat-error>Jelszó kitöltése kötelező!</mat-error>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    style="margin:15px 0 0 0"
  >
    Belépés
  </button>
</form>
