<br>
<br>
<br>
<br>
<br>
<table>
  <tbody>
  <tr>
    <td class="kep">
        <img src="/assets/pic/kutya.jpg" alt="image">
    </td>
    <td class="gombok">
      <div class="buttpos">
        <button  class="button button1 "  >Örökbe fogadom</button>
      </div>
      Virtuális örökbe fogadás az meg mi? Merül fel a kérdés teljesen jogosan.
      <div class="buttpos">
        <button  class="button button1 "  >Virtuálisan örökbe fogadom</button>
      </div>
    </td>
  </tr>
  </tbody>
</table>

{{animal.name}}

<br>








