img{
  width: 100%;
}

table{
  border: dotted #111111;
}
td{
  border: dotted #111111;
}

.kep{
  width: 70%;

}

.button {
  border: none;
  color: antiquewhite;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: antiquewhite;
  color: black;
  border: 2px solid coral;
}

.button1:hover {
  background-color: coral;
}
