<br>
<br>
<br>
<p>mainpage works!</p>

{{this.theuser.username}}
{{this.theuser.role}}

<div   *ngIf="auth.isLogin$.value && auth.isADMIN$.value; else elseBlock2" >
  <div  *ngIf="animals.length===0; else elseBlock22" >
    Nincs egyik menhelye(i)dnél örökbefogadás
  </div>
  <ng-template #elseBlock22>

    <div class="DIV">
      <h1>Örökbe fogadási kérelmek</h1>

  <div class="table"  *ngFor="let animal of animals" >

    <div class="row header green">
      <div class="cell">
        Név
      </div>
      <div class="cell">
        Állat faj
      </div>
      <div class="cell">
        Neme
      </div>
      <div class="cell">
        Menhely neve
      </div>
      <div class="cell">
        Örökbefogadó
      </div>
      <div class="cell">
        Elfogadás
      </div>
      <div class="cell">
        Elutasítás
      </div>
    </div>

    <div class="row">
      <div class="cell" data-title="Product">
        {{animal.name}}
      </div>
      <div class="cell" data-title="Unit Price">
        {{animal.type.name}}
      </div>
      <div class="cell" data-title="Quantity">
        {{animal.type.name==='macska' ? animal.gender === 0 ? 'kandúr' : 'nőstény' : animal.gender === 0 ? 'kan' : 'szuka'}}
      </div>
      <div class="cell" data-title="Date Sold">
        {{animal.shelter.name}}
      </div>
      <div class="cell" data-title="Status">
          {{animal.owner}}
      </div>
      <div class="cell" data-title="Status">
        <button  (click)="accept(animal.isadopted.id)"  style="background:greenyellow;">
          <mat-icon>check_circle</mat-icon>
        </button>
      </div>
      <div class="cell" data-title="Status" >
        <button  (click)="refuse(animal.isadopted.id)" style="background:red; " >
          <mat-icon>highlight_off</mat-icon>
        </button>
      </div>

    </div>


  </div>
    </div>


  </ng-template>


  <div  *ngIf="animalsi.length===0; else elseBlock22i" >
    Nincs egyik menhelye(i)dnél virtuálisörökbefogadás
  </div>
  <ng-template #elseBlock22i>

    <div class="DIV">

      <h1>Virtuális örökbe fogadási kérelmek</h1>
    <div class="table"  *ngFor="let animal of animalsi" >

      <div class="row header green">
        <div class="cell">
          Név
        </div>
        <div class="cell">
          Állat faj
        </div>
        <div class="cell">
          Neme
        </div>
        <div class="cell">
          Menhely neve
        </div>
        <div class="cell">
          Örökbefogadó
        </div>
        <div class="cell">
          Elfogadás
        </div>
        <div class="cell">
          Elutasítás
        </div>
      </div>

      <div class="row">
        <div class="cell" data-title="Product">
          {{animal.name}}
        </div>
        <div class="cell" data-title="Unit Price">
          {{animal.type.name}}
        </div>
        <div class="cell" data-title="Quantity">
          {{animal.type.name==='macska' ? animal.gender === 0 ? 'kandúr' : 'nőstény' : animal.gender === 0 ? 'kan' : 'szuka'}}
        </div>
        <div class="cell" data-title="Date Sold">
          {{animal.shelter.name}}
        </div>
        <div class="cell" data-title="Status">
          {{animal.owner}}
        </div>
        <div class="cell" data-title="Status">
          <button  (click)="accept(animal.virtual_owner.id)"  style="background:greenyellow;">
            <mat-icon>check_circle</mat-icon>
          </button>
        </div>
        <div class="cell" data-title="Status" >
          <button  (click)="refuse(animal.virtual_owner.id)" style="background:red; " >
            <mat-icon>highlight_off</mat-icon>
          </button>
        </div>

      </div>


    </div>
    </div>
  </ng-template>
<!-- Állandó virtuális gazdák  -->
  <div  *ngIf="animalsii.length===0; else elseBlock22ii" >
    Nincs egyik menhelye(i)dnél se elfogadott virtuális gazda
  </div>
  <ng-template #elseBlock22ii>

    <div class="DIV">

      <h1>Elfogadott virtuális örökbe fogadási kérelmek</h1>
      <div class="table"  *ngFor="let animal of animalsii" >

        <div class="row header green">
          <div class="cell">
            Név
          </div>
          <div class="cell">
            Állat faj
          </div>
          <div class="cell">
            Neme
          </div>
          <div class="cell">
            Menhely neve
          </div>
          <div class="cell">
            Örökbefogadó
          </div>
          <div class="cell">
            Megvon
          </div>
        </div>

        <div class="row">
          <div class="cell" data-title="Product">
            {{animal.name}}
          </div>
          <div class="cell" data-title="Unit Price">
            {{animal.type.name}}
          </div>
          <div class="cell" data-title="Quantity">
            {{animal.type.name==='macska' ? animal.gender === 0 ? 'kandúr' : 'nőstény' : animal.gender === 0 ? 'kan' : 'szuka'}}
          </div>
          <div class="cell" data-title="Date Sold">
            {{animal.shelter.name}}
          </div>
          <div class="cell" data-title="Status">
            {{animal.owner}}
          </div>
          <div class="cell" data-title="Status" >
            <button  (click)="refuse(animal.virtual_owner.id)" style="background:red; " >
              <mat-icon>highlight_off</mat-icon>
            </button>
          </div>

        </div>


      </div>
    </div>
  </ng-template>





</div>

<ng-template #elseBlock2>
  <div style="width: 100%; height: 100%; text-align:center;margin:0; padding:0; ">
    <ng-image-slider #nav
                     [images]="imageObject"
                     [infinite]="true"
                     [animationSpeed]="3"
                     [slideImage]="2"
                     [autoSlide]="{interval: 5, stopOnHover: true}"
                     [showArrow]="false"
                     [imageSize]="{width: '100%', height: '80%'}"


    >
    </ng-image-slider>
  </div>
 Ne ezt csak a nem adminok látják
</ng-template>



