.keresestable{

}
.hely{


}


/* az allatok dolgook */
.tabla {
  margin-left: auto;
  margin-right: auto;

}
.cella{

}
.DIV{
  padding-top: 9px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 20px;
  background: #ffddab;
  border-radius: 15px;
}
.kep{

}
img{
  border-radius: 10px 0px 0px 10px;

}
.adatok{

  color: coral;
  border-radius: 0px 10px 10px 0px;
  width: 450px;
  background:#f5e9d7;

  font-size: 25px;
  float: right;
  padding-top: 30px;
  height: 300px;



}
.name{
  text-align: center;
  font-size: 50px;


}
li{
  margin-left: 40px;
  list-style-image: url('src/assets/pic/paw (2).png');
  padding-inline-start: 1.5ch;
}
.buttpos{
  text-align: center;

}

.button {
  border: none;
  color: antiquewhite;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  border-radius: 10px;
  background-color: antiquewhite;
  color: black;
  border: 2px solid coral;
}

.button1:hover {
  background: #ffce87;
}
