


<body>
<br>
<br>
<br>



<h1 style="display: inline;" >Keresés szűrése:</h1>
  <div *ngIf="show; else elseBlock2" style="display: inline;  ">
  <button (click)="clicksearch()" class="button button1 " style=" padding: 0px 0px;">
    <mat-icon>keyboard_arrow_up</mat-icon>
  </button>
  </div>
  <ng-template #elseBlock2 style="display: inline;">
    <button (click)="clicksearch()" class="button button1 "style=" padding: 0px 0px;">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </ng-template>

<div class="DIV" style=" width: 100%;"  *ngIf="show; else elseBlock">
<table class="keresestable">
  <tbody>

  <tr>
    <td class="hely">
      Menhely:
      <br>
      <mat-form-field appearance="fill" style="width: 80%">
        <mat-label>Milyen menhelyen?</mat-label>
        <mat-select [(value)]="selectedshelter">
          <mat-option *ngFor="let shelter of shelterss" [value]="shelter.id" >
            {{shelter.name}} ({{shelter.city}})
          </mat-option>
          <mat-option value=-1>Összes</mat-option>
        </mat-select>
      </mat-form-field>


    </td>


    <td>
      Kora:<br>
      <mat-form-field appearance="fill" style="width: 80%">
        <mat-label>Milyen korú?</mat-label>
        <mat-select [(value)]="selectedage">
          <mat-option value=-1>Nem fontos</mat-option>
          <mat-option value=0>Kölyök </mat-option>
          <mat-option value=1>Fiatal </mat-option>
          <mat-option value=2>Felnőtt </mat-option>
          <mat-option value=3>Öreg </mat-option>
        </mat-select>

      </mat-form-field>




    </td>
    <td>
      Méret:<br>
      <mat-form-field appearance="fill" style="width: 80%" >
        <mat-label>Milyen méretű?</mat-label>
        <mat-select [(value)]="selectedsize">
          <mat-option value=-1>Nem fontos</mat-option>
          <mat-option value=0>Kicsi</mat-option>
          <mat-option value=1>Közepes</mat-option>
          <mat-option value=2>Nagy</mat-option>
        </mat-select>
      </mat-form-field>


    </td>
    <td>
      Neme:<br>
      <mat-form-field appearance="fill" style="width: 80%" >
        <mat-label>Milyen nemű?</mat-label>
        <mat-select [(value)]="selectedgender">
          <mat-option value=-1>Nem fontos</mat-option>
          <mat-option value=1>Szuka</mat-option>
          <mat-option value=0>Kan</mat-option>
        </mat-select>
      </mat-form-field>



    </td>
    <td>      Ivartalanított:<br>

      <mat-form-field appearance="fill" style="width: 80%">
        <mat-label>Ivartalanított?</mat-label>
        <mat-select [(value)]="selectedgonadectomy">
          <mat-option value=-1>Nem fontos</mat-option>
          <mat-option value=1>Nem</mat-option>
          <mat-option value=0>Igen</mat-option>
        </mat-select>
      </mat-form-field>


    <td >
    <button type="button" class="button button1 " (click)="myFunction()">Keresés</button>
    </td>
  </tr>


  </tbody>
</table>
</div>
<ng-template #elseBlock>

</ng-template>



<div  *ngIf="animals.length!==0; else elseBlock3">
<table class="tabla" cellspacing="0" cellpadding="0">

  <div class="DIV" *ngFor="let animal of animals" >
  <tr class="cella"  >

    <td class="kep">

      <img src="/assets/pic/{{animal.imagine}}" alt="image">
    </td>

    <td class="adatok">
      <h1 class="name">{{ animal.name }}</h1>
      <ul >
        <li>{{ animal.type.name }}</li>
        <li>{{animal.type.name==='macska' ? animal.gender === 0 ? 'kandúr' : 'nőstény' : animal.gender === 0 ? 'kan' : 'szuka'}}</li>
        <li>{{ animal.breed }}</li>
        <li>{{ animal.shelter.name}}</li>
      </ul>
      <div class="buttpos">
        <button (click)="goToDetails(animal.id)" class="button button1 " href="/id" routerLink="/id">Részletek</button>
      </div>
    </td>

  </tr>
  </div>


</table>
</div>
<ng-template #elseBlock3>
  Sajnos nincs megjeleníthető állatunk
</ng-template>






</body>









