<p>animals works!</p>
<body>
<br>
<br>
    <h1 >Keresés szűrése:</h1>
<table>
  <tbody>
  <tr>
    <td>
      Menhely:

      <mat-form-field appearance="fill">
        <mat-label>Milyen menhelyen?</mat-label>
        <mat-select [(value)]="selectedshelter">
          <mat-option *ngFor="let shelter of shelterss" [value]="shelter.id" >
            {{shelter.name}}
          </mat-option>
          <mat-option value="-1">Összes</mat-option>
          <!--
          <mat-option value="-1">Összes</mat-option>
          <mat-option value="1">Kutya</mat-option>
          <mat-option value="0">Macska</mat-option>
          -->
        </mat-select>
      </mat-form-field>

      <p>You selected: {{selectedshelter}}</p>
    </td>
    <td>      Állat:

      <mat-form-field appearance="fill">
        <mat-label>Milyen állat?</mat-label>
        <mat-select [(value)]="selectedanimal">
          <mat-option value="-1">Mindkettő</mat-option>
          <mat-option value="1">Kutya</mat-option>
          <mat-option value="0">Macska</mat-option>
        </mat-select>
      </mat-form-field>

      <p>You selected: {{selectedanimal}}</p></td>

    <td>
      Milyen idős állatot szeretnél?

    </td>
    <td>Milyen méretű?</td>
    <td>
      Neme:
      <mat-form-field appearance="fill">
        <mat-label>Milyen nemű?</mat-label>
        <mat-select [(value)]="selectedgender">
          <mat-option value="-1">Nem fontos</mat-option>
          <mat-option value="1">Szuka</mat-option>
          <mat-option value="0">Kan</mat-option>
        </mat-select>
      </mat-form-field>

      <p>You selected: {{selectedgender}}</p>

    </td>
    <td><button type="button" onclick="myFunction()">Keresés</button></td>
  </tr>
  </tbody>
</table>


<table class="tabla">
  <tbody >
  <tr class="cella" *ngFor="let animal of animals"  >
    se:{{selectedshelter}} animal se{{animal.shelter.id}}
    <ng-container *ngIf="selectedgender==animal.gender || selectedanimal==animal.type.id || selectedshelter==animal.shelter.id; else elseBlock" > </ng-container>

    <ng-template >
    <td class="kep">{{animal.imagine}} </td>
    <td class="adatok">
      <ul >
        <h1 class="name">{{ animal.name }}</h1> <br>
        <li>{{ animal.gender }}</li>
        <li>{{ animal.type.name }}</li>
        <li>{{ animal.breed }}</li>
        <li>{{ animal.lifestory}}</li>
        <li>{{ animal.shelter.name}}</li>
      </ul>
    </td>
    </ng-template>
    <ng-template #elseBlock>
      <td class="kep">{{animal.imagine}} </td>
      <td class="adatok">
        <ul >
          <h1 class="name">{{ animal.name }}</h1> <br>
          <li>{{ animal.gender }}</li>
          <li>{{ animal.type.name }}</li>
          <li>{{ animal.breed }}</li>
          <li>{{ animal.lifestory}}</li>
          <li>{{ animal.shelter.name}}</li>

        </ul>
        <div class="buttpos">
          <button (click)="goToDetails(animal.id)" class="button button1 " href="/animal/:id" routerLink="/animal/animal">Részletek</button>
        </div>
      </td>

    </ng-template>


  </tr>

  </tbody>
</table>





</body>









