

<p>animals works!</p>
<body>
<br>
<br>



    <h1 >Keresés szűrése:</h1>
<table>
  <tbody>
  <tr>
    <td>
      Menhely:

      <mat-form-field appearance="fill">
        <mat-label>Milyen menhelyen?</mat-label>
        <mat-select [(value)]="selectedshelter">
          <mat-option *ngFor="let shelter of shelterss" [value]="shelter.id" >
            {{shelter.name}} ({{shelter.city}})
          </mat-option>
          <mat-option value=-1>Összes</mat-option>
        </mat-select>
      </mat-form-field>


    </td>


    <td>
      Kora:
      <mat-form-field appearance="fill">
        <mat-label>Milyen korú?</mat-label>
        <mat-select [(value)]="selectedage">
          <mat-option value=-1>Nem fontos</mat-option>
          <mat-option value=0>Kölyök </mat-option>
          <mat-option value=1>Fiatal </mat-option>
          <mat-option value=2>Felnőtt </mat-option>
          <mat-option value=3>Öreg </mat-option>
        </mat-select>

      </mat-form-field>




    </td>
    <td>
      Méret:
      <mat-form-field appearance="fill">
        <mat-label>Milyen méretű?</mat-label>
        <mat-select [(value)]="selectedsize">
          <mat-option value=-1>Nem fontos</mat-option>
          <mat-option value=0>Kicsi</mat-option>
          <mat-option value=1>Közepes</mat-option>
          <mat-option value=2>Nagy</mat-option>
        </mat-select>
      </mat-form-field>


    </td>
    <td>
      Neme:
      <mat-form-field appearance="fill">
        <mat-label>Milyen nemű?</mat-label>
        <mat-select [(value)]="selectedgender">
          <mat-option value=-1>Nem fontos</mat-option>
          <mat-option value=1>Szuka</mat-option>
          <mat-option value=0>Kan</mat-option>
        </mat-select>
      </mat-form-field>



    </td>
    <td>      Ivartalanított:

      <mat-form-field appearance="fill">
        <mat-label>Ivartalanított?</mat-label>
        <mat-select [(value)]="selectedgonadectomy">
          <mat-option value=-1>Nem fontos</mat-option>
          <mat-option value=1>Nem</mat-option>
          <mat-option value=0>Igen</mat-option>
        </mat-select>
      </mat-form-field>


    <td><button type="button" (click)="myFunction()">Keresés</button></td>
  </tr>
  </tbody>
</table>


<table class="tabla" cellspacing="0" cellpadding="0">
  <tbody >
  <tr class="cella" *ngFor="let animal of animals"  >
    <td class="kep">

      <img src="/assets/pic/{{animal.imagine}}" alt="image">
    </td>

    <td class="adatok">
      <h1 class="name">{{ animal.name }}</h1>
      <ul >
        <li>{{ animal.type.name }}</li>
        <li>{{animal.type.name==='macska' ? animal.gender === 0 ? 'kandúr' : 'nőstény' : animal.gender === 0 ? 'kan' : 'szuka'}}</li>
        <li>{{ animal.breed }}</li>
        <li>{{ animal.shelter.name}}</li>
      </ul>
      <div class="buttpos">
        <button (click)="goToDetails(animal.id)" class="button button1 " href="/id" routerLink="/id">Részletek</button>
      </div>
    </td>
  </tr>
  </tbody>
</table>





</body>









