.tabla {
  content: "";
  display: table;
  clear: both;
  table-align: center;
  margin-left: auto;
  margin-right: auto;
}





.kep{

  width: 400px;
  height: 300px;
  color: blueviolet;
  padding-bottom: 40px;



}
.adatok{
  font-size: 25px;
  float: right;
  width: 450px;
  padding-top: 30px;
  height: 300px;
  color: coral;
  background: antiquewhite;
}
.name{
  text-align: center;
  font-size: 50px;
}
li{
  list-style-image: url('src/main/resources/pic/paw-print-.svg');
  /*
  list-style-image: url('src/main/Frontend/myApp/src/assets/pic');

   */







  padding-inline-start: 1.5ch;
}
.buttpos{
  text-align: center;

}

.button {
  border: none;
  color: antiquewhite;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: antiquewhite;
  color: black;
  border: 2px solid coral;
}

.button1:hover {
  background-color: coral;
}
