<form [formGroup]="signupForm" fxLayoutAlign="stretch" fxLayout="column" (ngSubmit)="signup(signupForm)" [ngClass]="{'up': password.value.length > 0}" novalidate>
  <mat-form-field>
    <input
      matInput
      type="text"
      placeholder="Az Ön felhasználó neve"
      formControlName="username"
      required
      appNameFormat
    >
    <mat-error>Mező kitöltése kötelező, minimum karakterszám: 4!</mat-error>
  </mat-form-field>
  <br>


  <mat-form-field appearance="fill">

    <mat-label>Miként regisztrálsz?</mat-label>
    <mat-select type="text" formControlName="role">
      <mat-option value="USER">Sima felhasználó</mat-option>
      <mat-option value="ADMIN">Menhely tulaj </mat-option>
    </mat-select>

  </mat-form-field>

  <br>
  <mat-form-field hintLabel="Megfelelő formátum: pl valami@valami.valami">
    <input
      matInput
      type="email"
      placeholder="E-mail címe"
      formControlName="e_mail"
      required
    >
    <mat-error>Adjon meg egy érvényes E-mail címet!</mat-error>
  </mat-form-field>
  <br>
  <br>
  <mat-form-field>
    <input
      matInput
      #password
      type="password"
      placeholder="Választott jelszava"
      color="primary"
      formControlName="password"
      required
    >
    <mat-error>Feltételeknek megfelelő jelszó megadása kötelező!</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input
      matInput
      type="password"
      placeholder="Jelszó ismétlése"
      formControlName="passwordConfirm"
      required>
    <mat-error>Megadott jelszavak nem azonosak!</mat-error>
  </mat-form-field>
  <div *ngIf="password.value.length > 0">
    <mat-label>Jelszó erőssége:</mat-label>
    <mat-password-strength
      #passwordStrength
      [password]="password.value"
    >
    </mat-password-strength>
    <mat-password-strength-info
      [passwordComponent]="passwordStrength"
      lowerCaseCriteriaMsg="legalább egy kisbetűt tartalmaznia kell"
      upperCaseCriteriaMsg="legalább egy nagybetűt tartalmaznia kell"
      digitsCriteriaMsg="legalább egy számot tartalmaznia kell"
      specialCharsCriteriaMsg="legalább egy speciális karaktert ($,#,%,*...) tartalmaznia kell"
      minCharsCriteriaMsg="legalább 8 karakter hosszú legyen"
    >
    </mat-password-strength-info>
  </div>
  <br>
  <button>
    Regisztráció
  </button>
</form>

