
<h1 mat-dialog-title>Sajnos csak regisztráció/bejelentkezés után tudod használni ezt a funkciót</h1>
<div mat-dialog-content>Számos más funkciót is kipróbálhatsz bejelentkezett esetben és csak pár kattintás, de ha biztos nem szeretnél regisztrálni, akkor a menhely telefonszámát megtalálod a képernyő alján</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Mégse</button>
  <button  class="mat-button-right" href="/login" routerLink="/login" mat-button mat-dialog-close >Bejelentekzes/Regisztráció</button>
</div>
