<div>
<h1 mat-dialog-title>Biztos vagy benne?</h1>
<div mat-dialog-content>Ha igen, akkor az álllat ideiglenesen nem lesz elérhető a weboldalon, de ha nem veszed fel a kapcsolatot a menhellyel, akkor elérhető lesz újból.</div>
<div mat-dialog-actions>
  <button  mat-button mat-dialog-close class="button button1 ">Mégse</button>
  <button mat-button mat-dialog-close (click)="openSnackBar('A sikeres örökbefogadáshoz vedd fel a kapcsolatot a menhellyel 48 órán belül')" class="button button1 ">Igen</button>
</div>
</div>
