<form [formGroup]="loginForm" fxLayoutAlign="stretch" fxLayout="column" (ngSubmit)="login(loginForm)" novalidate>
  <br>
  <mat-form-field >
    <input
      matInput
      type="username"
      placeholder="Felhasználónév"
      formControlName="username"
      required
    >
    <mat-error>Kitöltés kötelező! Minimum karakter szám: 4</mat-error>
  </mat-form-field>
  <br>

  <br>
  <mat-form-field>
    <input
      matInput
      type="password"
      placeholder="Jelszó"
      color="primary"
      formControlName="password"
      required
    >

    <mat-error>Jelszó kitöltése kötelező!<br>
      Szabályoknak megfelelően.

    </mat-error>
  </mat-form-field>
  <br>
  <br>
  <button
    class="button button1 "
  >
    Belépés
  </button>
</form>
