<form [formGroup]="loginForm" fxLayoutAlign="stretch" fxLayout="column" (ngSubmit)="login(loginForm)" novalidate>
  <br>
  <mat-form-field >
    <input
      matInput
      type="username"
      placeholder="Felhasználónév"
      formControlName="username"
      required
    >
    <mat-error>Adja meg a regisztráció során használt Felhasználónevét</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input
      matInput
      type="password"
      placeholder="Jelszó"
      color="primary"
      formControlName="password"
      required
    >

    <mat-error>Jelszó kitöltése kötelező!</mat-error>
  </mat-form-field>
  <br>
  <button
    mat-raised-button
    color="primary"
    style="margin:15px 0 0 0"
  >
    Belépés
  </button>
</form>
