.DIVnot{
  margin: 15px;
  padding: 15px;
  background: #f5e9d7;
  border-radius: 20px;


}
.fodiv{
  overflow-y: auto;


  max-height: 300px;

}

.button {
  border: none;
  color: antiquewhite;
  padding: 8px 16px;
  float: right;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  position: relative;
  right: 10px;
  top: -12px;

  border-radius: 10px;
  background-color: antiquewhite;
  color: black;
  border: 2px solid coral;
}

.button1:hover {
  background: #ffce87;
}
