  <div *ngIf="show; else elseBlock3">
    <button (click)="Commentiras()" class="button button1 ">Mégse</button>
  </div>
  <ng-template #elseBlock3>
    <button (click)="Commentiras()" class="button button1 ">Írj kommentet </button>
  </ng-template>
  <div *ngIf="show; else elseBlock2" style="text-align: center">
    <form  [formGroup]="commentForm" class="example-form"  (ngSubmit)="addComment(commentForm)">

    <mat-form-field appearance="fill">
      <mat-label>Írj bátran kommentet...</mat-label>
      <textarea matInput formControlName="comment"></textarea>
    </mat-form-field>

    <div *ngIf= "commentForm.valid;else elseBlock">
      <h3>
        <button class="button button1 "  mat-button >Küldés</button>
        <div class="clearfix"></div>
      </h3>
    </div>
    <ng-template #elseBlock>
      <h3>
        <button class="button button1 " style="  cursor: not-allowed;"  mat-button disabled>Küldés</button>
        <div class="clearfix"></div>
      </h3>
    </ng-template>
    </form>

  </div>
  <ng-template #elseBlock2>


  </ng-template>





<div *ngIf= "commentes.length!==0;else elseBlock5" >
<div  class="d-flex justify-content-center py-2" *ngFor="let commente of commentes" >
  <div *ngIf="show3 && commente.id=== thenumber; else elseBlock11" style="text-align: center">

    <form  [formGroup]="commentFormchange" class="example-form"  (ngSubmit)="changeComment(commentFormchange)">
      <div class="d-flex justify-content-center py-2" >
      <mat-form-field appearance="fill" style="width: 400px;">
        <mat-label>Módosítsd a kommentedet</mat-label>
        <textarea matInput formControlName="comment"></textarea>
      </mat-form-field>
      </div>

      <div *ngIf= "commentFormchange.valid;else elseBlock">
        <h3>
          <button class="button button1 "  mat-button >Módosítás</button>
          <div class="clearfix"></div>
        </h3>
      </div>
      <ng-template #elseBlock>
        <h3>
          <button class="button button1 " style="  cursor: not-allowed;"  mat-button disabled>Módosítás</button>
          <div class="clearfix"></div>
        </h3>
      </ng-template>
    </form>





  </div>
  <ng-template #elseBlock11>
    <div class="second py-2 px-2"> <span class="text1">{{commente.comment}}</span>
      <div class="d-flex justify-content-between py-1 pt-2">
        <div >
          <i class="fa fa-user"></i>
          <span  class="text2">{{commente.username}} </span>
          <div *ngIf="user.role==='ADMIN'; else elseBlock1">
            <div *ngFor="let animal of adminanimals" >
              <div style="display: inline;" *ngIf=" animal.id===commente.allatid " ><i (click)="delete(commente.id)"  class="fa fa-trash" style="padding-right: 5px"></i></div>
            </div>
          </div>
          <ng-template #elseBlock1>
            <div style="display: inline;" *ngIf=" commente.ownerid===user.id " ><i (click)="delete(commente.id)" class="fa fa-trash" style="padding-right: 5px"></i> <i (click)="wantedit(commente.id)" class='fas fa-pen'></i></div>
          </ng-template>
        </div>
        <div><span class="text3">{{commente.updated[0]}}{{commente.updated[1]}}{{commente.updated[2]}}{{commente.updated[3]}}{{commente.updated[4]}}{{commente.updated[5]}}{{commente.updated[6]}}{{commente.updated[7]}}{{commente.updated[8]}}{{commente.updated[9]}} {{commente.updated[11]}}{{commente.updated[12]}}{{commente.updated[13]}}{{commente.updated[14]}}{{commente.updated[15]}}{{commente.updated[16]}}{{commente.updated[17]}}{{commente.updated[18]}}</span><span class="thumbup"><i class="fa fa-calendar"></i></span></div>
      </div>
    </div>
  </ng-template>



  </div>
</div>

  <ng-template #elseBlock5 >
    <br>
    Még senki nem írt kommentet. Légy te az első!
  </ng-template>


<!--
<textarea [(ngModel)]="comment")]></textarea>
<br>
<br>
<button>COmment</button>
<hr>
<div>
  <p>{{comment}}</p>
</div>>


<div class="card">
  <div class="card-header card-header-danger">
    <h3>Comment</h3>
  </div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="commentForm">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Full Name</mat-label>
            <input
              type="text"
              formControlName="name"
              placeholder="Full Name"
              matInput>
            <mat-error align="end" *ngIf="commentForm.controls['name'].hasError('required')">Required</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input
              type="email"
              formControlName="email"
              matInput
              placeholder="john.doe@simplifyjs.com">
            <mat-error align="end" *ngIf="commentForm.controls['email'].errors?.required">Required</mat-error>
            <mat-error align="end" *ngIf="commentForm.controls['email'].invalid">Incorrect email format</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field>
            <mat-label>Message</mat-label>
            <textarea formControlName="message" matInput placeholder="Message"></textarea>
            <mat-error align="end" *ngIf="commentForm.controls['message'].hasError('required')">Required</mat-error>
          </mat-form-field>
        </div>
      </div>
      <mat-action>
        <button type="button" (click)="onCommentCancel()" mat-flat-button>Cancel</button>
        <button type="submit" mat-raised-button >Comment</button>
      </mat-action>
    </form>
  </div>
</div>
<app-comment-list></app-comment-list>
-->
