<br>
<br>
<br>
<br>
<mat-tab-group [(selectedIndex)]="demo1TabIndex" mat-align-tabs="center">
  <mat-tab label="Gyakori kérdések">


<br>
<h1>VIRTUÁLIS GAZDA gyakori kérdések</h1>

<h3>Mikor érdemes Virtuális gazdinak állni?</h3>
<ul>
  <li>Szereted egy kis kedvencet, de még nem érzed késznek magad arra, hogy otthont adj egynek?</li>

  <li>A lakásod jelenleg nem megfelelő méretű egy házi kedvencnek?</li>

  <li>Családodban nem mindenki értene egyet az örökbefogadással?</li>

  <li>Nem rendelkezel elegendő szabadidővel ahhoz, hogy megfelelően gondoskodhass egy kedvencről?</li>

  <li>Szeretnél segíteni egy gazdátlan állaton?</li>

  <li>Beleszerettél az egyik menhelylakóba, és szeretnél gondoskodni róla?</li>


</ul>
Ha fentiek közül bármelyik is igaz rád, akkor érdemes lehetne elgondolkodni a VIRTUÁLIS GAZDA létben!
<br>
<br>
<h3>Mit is jelent ez pontosan?</h3>

Virtuális gazdának az általad kiválasztott állat adatlapján keresztül jelentkezhetsz vagy ezen a képernyőn csak a másik fülön.

Ezt követően havi rendszerességgel támogatod a választottadat minimum 5.000,-Ft.  utalásával.
<br>
<br>
<h3>Hogyan juttathatom el a támogatás összegét?</h3>

Hagyományos banki átutalással:

Az alapítvány számlaszámára, közleményben az állat neve legyen.

Miután sikeresen megérkezett az utalás a menhely tulaj(ok) jóváhagyják és hivatalosan is Virtuális gazda lettél.
<br>
<br>
<h3>De ez miért jó ez Neked?</h3>

Elsősorban azért, mert így Te is hozzájárulsz a kiválasztott kutya ellátásához addig, amíg gondozásunkban van, és így egy kicsit a Tiéd is.

Ha a kutyát időközben örökbe fogadják, Te leszel az első, akit értesíteni fogunk.

A VIRTUÁLIS GAZDÁK NEVEIT közzétesszük a kiválasztott kutyák részletek oldalon, amennyiben erre engedélyt kapunk tőlük.

Nem utolsó sorban pedig az első utalás beérkezését követően oklevelet és ajándékot is küldünk Neked.
  </mat-tab>
  <mat-tab *ngIf="auth.isLogin$.value; else elseBlock" label="Virtuális örökbefogadás" >

    <div *ngIf="aszam===null; else elseBlock2">

      <table>
        <tbody>
        <tr>
          <td *ngIf="selectedanimal===null; else elseBlock3">
            <img src="/assets/pic/semmi.jpg" >
          </td>
          <ng-template #elseBlock3>
            <img src="/assets/pic/{{selectedanimal.imagine}}" >
          </ng-template>
          <td>
            1. Melyik menhylből szeretnél virtuálisan örökbefogadni?
            <mat-form-field>
              <mat-label>Milyen menhelyen?</mat-label>
              <mat-select [(value)]="selectedshelter" >
                <mat-option *ngFor="let shelter of shelterss" [value]="shelter.id" (click)="function(shelter.id)" >
                  {{shelter.name}} ({{shelter.city}})
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            2. Melyik állatot szeretnéd virtuálisan örökbe fogadni?
            <mat-form-field  >
              <mat-label>Melyik állat?</mat-label>
              <mat-select [(value)]="selectedanimal">
                <mat-option *ngFor="let animal of animalss" [value]="animal" >
                  {{animal.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="selectedanimal===null; else elseBlock4">

            </div>
            <ng-template #elseBlock4>
              <br>
              Ha nincsenek kérdéseid és biztosan virtuálisan örökbe akarod fogadni ezt az állatot ({{selectedanimal.name}}), <br>
              akkor nincs más dolgod, mint hogy utald a megfelelő összeget {{selectedanimal.name}}-nak a menhelyének ({{selectedanimal.shelter.name}})  számlájára, aminek száma: {{animal.shelter.accoun_number}}
              Fontos, hogy közleményben add meg a kutyának a nevét!
              Türelmedet kérjük, mert pár nap kell az átfutáshoz, így ahoz is kell pár nap, hogy a neved megjelenjen, mint Virtuális Gazda
              <br>
              <br>
              <div *ngIf="selectedanimal===null || selectedanimal.isadopted.status2===2  ;else elseblock5" >
                <!--<button disabled class="button button1 " (click)="virtauladopt()"   >Virtuálisan Örökbe fogadom</button> -->
                <div *ngIf="selectedanimal!==null && selectedanimal.isadopted.status2===2 || selectedanimal.isadopted.status2===3; else elseBlock6">
                  Ez az állat már virtuálisan örökbe van fogadva
                </div>
                <ng-template #elseBlock6>
                </ng-template>


              </div>
              <ng-template #elseblock5>
                <button class="button button1 " (click)="virtauladopt()"   >Virtuálisan Örökbe fogadom</button>
              </ng-template>


            </ng-template>

          </td>








        </tr>
        </tbody>
      </table>

    </div>

    <ng-template #elseBlock2>
      <table>
        <tbody>
        <tr>
          <td>
            <img src="/assets/pic/{{animal.imagine}}" alt="image">
          </td>
          <td>
            Ha nincsenek kérdéseid és biztosan virtuálisan örökbe akarod fogadni ezt az állatot ({{animal.name}}), <br>
            akkor nincs más dolgod, mint hogy utald a megfelelő összeget {{animal.name}}-nak a menhelyének ({{animal.shelter.name}})  számlájára, aminek száma: {{animal.shelter.accoun_number}}
            Fontos, hogy közleményben add meg a kutyának a nevét!
            Türelmedet kérjük, mert pár nap kell az átfutáshoz, így ahoz is kell pár nap, hogy a neved megjelenjen, mint Virtuális Gazda
            <br>
            <br>
            <button  class="button button1 "  (click)="virtauladopt()"  >Virtuálisan Örökbe fogadom</button>
          </td>
        </tr>

        </tbody>
      </table>

    </ng-template>


  </mat-tab>
  <ng-template #elseBlock>
    <mat-tab label="Virtuális örökbefogadás"  >Sajnos csak regisztráció/bejelentkezés után tudod használni ezt a funkciót. Térj vissza belépve ide</mat-tab>
  </ng-template>>
</mat-tab-group>
