h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}
fas fa-clock{
  text-align: right;
  color: white;
}


.button {
  border: none;
  color: antiquewhite;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  border-radius: 10px;
  background-color: antiquewhite;
  color: black;
  border: 2px solid coral;
}

.button1:hover {
  background: #ffce87;
}
