<br>
<br>
<br>


<div class="row text-center">

  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"

      >
        Előző
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Ez a hét
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Következő
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>

</div>
<br />
<div [ngSwitch]="view">

  <mwl-calendar-week-view

    *ngSwitchCase="CalendarView.Week"

    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [weekStartsOn] = "1"
    [hourSegments]="1"
    [dayStartHour]="8"
    [dayEndHour]="17"
    [locale]="locale"
    [hourSegmentHeight]="50"
    (eventClicked)="handleEvent('Clicked', $event.event)"
  >
  </mwl-calendar-week-view>




</div>




<br/><br/>

<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Válassz egy dátumot</mat-label>
  <input matInput  [matDatepicker]="picker" [min]="minDate" [(ngModel)]="selectedday" >
  <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>



<!--jóóóóó
<div class="time-range-example">
  <input  placeholder="Válassz egy kezdő időpontot"
         [ngxTimepicker]="range" [(ngModel)]="selectedhour" [format]="24"  min="08:00 am" max="16:00 pm"  >
  <ngx-material-timepicker  #range [cancelBtnTmpl]="cancelBtn"></ngx-material-timepicker>
</div>
-->


<mat-form-field class="example-full-width" appearance="fill">
  <input
    matInput
    placeholder="Időpont "
    [ngxTimepicker]="range"
    [(ngModel)]="selectedhour"
    [format]="24"
    color="primary"
    min="08:00 am" max="16:00 pm"
  >
  <mat-icon matSuffix>schedule</mat-icon>
  <ngx-material-timepicker  #range [cancelBtnTmpl]="cancelBtn"></ngx-material-timepicker>
</mat-form-field>


<ng-template #cancelBtn>
  <button style="margin-right: 10px;">Mégse</button>
</ng-template>




<div *ngIf="selectedhour!==0; else elseBlock">
  <h3>
  <button  class="button button1 " (click)="addEvent()">
    Séta foglalás
  </button>
  <div class="clearfix"></div>
</h3></div>
<ng-template #elseBlock>
  <h3>
  <button style="cursor: not-allowed;"  class="button button1 "(click)="addEvent()" disabled>
    Séta foglalás
  </button>
  <div class="clearfix"></div>
</h3>
</ng-template>


<!--
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Title</th>
      <th>Primary color</th>
      <th>Secondary color</th>
      <th>Starts at</th>
      <th>Ends at</th>
      <th>Remove</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let event of events">
      <td>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="event.title"
          (keyup)="refresh.next()"
        />
      </td>
      <td>
        <input
          type="color"
          [(ngModel)]="event.color.primary"
          (change)="refresh.next()"
        />
      </td>
      <td>
        <input
          type="color"
          [(ngModel)]="event.color.secondary"
          (change)="refresh.next()"
        />
      </td>
      <td>
        <input
          class="form-control"
          type="text"
          mwlFlatpickr
          [(ngModel)]="event.start"
          (ngModelChange)="refresh.next()"
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          dateFormat="Y-m-dTH:i"
          altFormat="F j, Y H:i"
          placeholder="Not set"
        />
      </td>
      <td>
        <input
          class="form-control"
          type="text"
          mwlFlatpickr
          [(ngModel)]="event.end"
          (ngModelChange)="refresh.next()"
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          dateFormat="Y-m-dTH:i"
          altFormat="F j, Y H:i"
          placeholder="Not set"
        />
      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteEvent(event)">
          Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template>
-->
